.main-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/bg-images/pexels-marius-mann-1697214.jpg");
}